.icon {
  width: 3em;
  height: 3em;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.name,
.quote,
.role {
  align-self: stretch;
  position: relative;
}
.quote {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.33em;
  font-weight: 500;
  font-family: inherit;
}
.name,
.role {
  font-size: 1em;
  line-height: 1.5em;
}
.role {
  font-weight: 500;
}
.icon-frame,
.role-name-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.role-name-frame {
  align-self: stretch;
}
.icon-frame {
  flex: 1;
  padding: 1.25em 0;
  box-sizing: border-box;
  gap: 1.5em;
  min-width: 32.5em;
  max-width: 100%;
  text-align: left;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 750px) {
  .icon-frame {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .quote {
    font-size: 1.19em;
    line-height: 1.37em;
  }
}
