.banner-container {
  margin: 1em;
}

.banner {
  padding: 1em 2em;
  border-radius: 6px;
  background-color: #ecfdf5;
  color: #065f46;
  font-size: 0.5rem;
}

.banner-success {
  background-color: #ecfdf5;
  color: #065f46;
}

.banner-warning {
  background-color: #fffbeb;
  color: #b45309;
}

.banner-error {
  background-color: #fef2f2;
  color: #92400e;
}

.banner-neutral {
  background-color: #eff6ff;
  color: #1e40af;
}
